# This file is used to define code owners for the repository.

# Code owners are automatically requested for review when someone opens a pull request that modifies code they own.

# Assign @Petermuraya as the owner for package.json and package-lock.json

package.json @Petermuraya package-lock.json @Petermuraya
